<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>May Node and Express stop fucking with you.</h1>

    <h3>Add a quote</h3>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

  <div>
    <h3>Replace last quote written by Searched user with a new quote</h3>
     <form action="/change" method="POST">
      <input id="name" type="text" placeholder="Current Name" name="oldName">
      <input id="name" type="text" placeholder="New Name" name="newName">
      <input id="quote" type="text" placeholder="quote" name="editQuote">
      <button id="change" type="submit">change yoda quote</button>
    </form>
  </div>

  <div>
    <h3>Delete a user quote</h3>
    <form action="/quotes" method="POST">
      <input id="name" type="text" placeholder="name" name="nameDelete">
      <button id="filter" type="submit">Delete first quote from given user</button>
    </form>
  </div>


  <div>
    <h3>Filter for only one person</h3>
    <form action="/quotes" method="POST">
      <input id="name" type="text" placeholder="name" name="nameSearch">
      <button id="filter" type="submit">filter for quotee</button>
    </form>
  </div>




  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>



  <script src="main.js"></script>

</body>
</html>
